body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  width: 1440px;
  margin: 0;
  text-align: center;
  display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

}
h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-weight: bold;
  font-size: 20px;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;

}

.backplate {
  border-radius: 20px;
  height: 530px;
  width: 330px;
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  position: absolute;


}

.qr-code {
  border-radius: 20px;
  height: 300px;
  width: 300px;
  margin-top: 15px;
}

.attribution {
  font-size: 10px;
  display: inline-block;
  position: relative;
  top: 275px;
}

.paragraph {
  padding: 5px;
}

.words {
  height: 70px;
  width: 280px;
  margin: auto;
  padding-top: 20px;
}
